<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    th:with="lang=${#locale.language}" th:lang="${lang}">
<head>
<title>Home</title>
</head>
<body>
	<h1>
		<span th:text="#{welcome.message}" />
	</h1>

	<p>
		<span th:text="${toUserMessage}" />
	</p>



    <p><a th:href="@{/customersliststring}">Display string customer table</a> </p>
    <p><a th:href="@{/customerslistraw}">Display raw customer table</a> </p>
    <p><a th:href="@{/addfixcustomers}">Add fixed three customers</a> </p>
    <p><a th:href="@{/loggertest}">Logger test link</a> </p>

	<!--<table>-->
		<!--<tr>-->
		<!--</tr>-->
	<!--</table>-->

	<!--<table>-->
		<!--<tr>-->
			<!--<td><a th:href="@{/addStudent}" th:text="#{msg.AddStudent}" /></td>-->
		<!--</tr>-->
		<!--<tr>-->
			<!--<td><a th:href="@{/listStudents}" th:text="#{msg.ListStudents}" /></td>-->
		<!--</tr>-->
		<!--<tr>-->
			<!--<td><a th:href="@{/listTeachers}" th:text="#{msg.ListTeachers}" /></td>-->
		<!--</tr>-->
		<!--<tr>-->
			<!--<td><a th:href="@{/listBooks}" th:text="#{msg.ListBooks}" /></td>-->
		<!--</tr>-->
		<!--<tr>-->
			<!--<td><a th:href="@{/registerCourse}" th:text="#{msg.CourseRegistration}" /></td>-->
		<!--</tr>-->
	<!--</table>-->

    <p>
        Current time is <span th:text="${serverTime}" />
    </p>

</body>
</html>
