<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:with="lang=${#locale.language}" th:lang="${lang}">
<head>
    <title>Update customer:</title>
</head>
<body>
<form action="#" th:action="@{/updateCustomer}" th:object="${form}" method="post">
    <fieldset>
        <input type="submit" id="submitButton" th:value="Save">
        <input type="reset" id="resetButton" name="reset" th:value="Reset"/>

        <p>ID: <span th:text="*{cust_id}" /></p>
        <input hidden type="text" th:field="*{cust_id}" />
        <!--there is two different ways to input value-->
         <!--1. th:field tag-->
         <!--2. th:name and th:value tags-->
        <!--i did't find good answer about differents-->
        <!--<p>First Name: <input type="text" th:field="*{fName}" /></p>-->
        <p>First Name: <input type="text" th:name="|fName|" th:value="${form.getfName()}" /></p>
        <p>Last Name: <input type="text" th:name="|lName|" th:value="${form.getlName()}" /></p>
        <input type="text" th:field="*{passportId}" />
        <p>Passport ID: <span th:text="*{passportId}" /></p>

    </fieldset>
</form>

<p><a th:href="@{/}">go home</a> </p>
</body>
</html>
